@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.title = "Blog Post Template for Bootstrap 3";
}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            var viewModel = new PostsViewModel();
            ko.applyBindings(viewModel);
        });

        function PostModel(data, onRemoved) {
            var self = this

            self.title = data.Title;
            self.id = data.ID;
            self.author = data.Author;
            self.postedAt = new Date(Date.parse(data.PostedAt));
            self.preBody = data.PreBody;
            self.body = data.Body;
        }

        function PostsViewModel() {
            var self = this;

            self.posts = ko.observableArray();
            $.getJSON("/post/all", function (response) {
                var mapping = $.map(response, function (post) {
                    return new PostModel(post, function () { });
                });
                self.posts(mapping);
            });

            self.onPostRemoved = function (post) {
                self.posts.remove(post);
            }
        };
    </script>
}
<div class="col-lg-8" data-bind="foreach: posts">
    <!-- the actual blog post: title/author/date/content -->
    <h1 data-bind="text: title">
    </h1>
    <p class="lead">
        by <a data-bind="text: author" href="@ResolveUrl("/about")">Author</a>
    </p>
    <hr>
    <p>
        <span class="glyphicon glyphicon-time"></span>&nbsp;Posted on&nbsp;<span data-bind="text: postedAt.toLocaleString()">
        </span>
    </p>
    <hr>
    <img src="http://placehold.it/900x300" class="img-responsive" alt="Post Logo">
    <hr>
    <p class="lead" data-bind="text: preBody">
    </p>
    <p data-bind="text: body">
    </p>
    @*<p>
        <strong>Placeholder text by:</strong>
    </p>
    <ul>
        <li><a href="http://spaceipsum.com/">Space Ipsum</a> </li>
        <li><a href="http://cupcakeipsum.com/">Cupcake Ipsum</a> </li>
        <li><a href="http://tunaipsum.com/">Tuna Ipsum</a> </li>
    </ul>
    <hr />
    @Html.Partial("Views/Partials/Comment/commentForm")
    @Html.Partial("Views/Partials/Comment/comments")*@
</div>
<div class="col-lg-4">
    @Html.Partial("Views/Partials/Side/search")
    <!-- /well -->
    @Html.Partial("Views/Partials/Side/category")
    <!-- /well -->
    @Html.Partial("Views/Partials/Side/popular")
    <!-- /well -->
</div>
