@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/_Layout.cshtml";
}

@using Cassette.Nancy
@{
    Bundles.Reference("Scripts/viewModel");
    Bundles.Reference("Scripts/sammy");
    Bundles.Reference("Scripts/knockout");
}
@{
    ViewBag.title = "Blog Post Template for Bootstrap 3";
}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            var viewModel = new PreviewsViewModel();
            ko.applyBindings(viewModel);
        });

        function PreviewsViewModel() {
            var self = this;
            var blogpath = window.location.pathname;

            self.posts = ko.observableArray();
            self.isListVisible = ko.observable();
            self.choosenPost = ko.observable();
            self.goToPost = function (post) {
                location.hash = "/" + post.id;
            }

            Sammy(function () {
                this.get(blogpath, function () {
                    $.getJSON("/post/all", function (response) {
                        var mapping = $.map(response, function (post) {
                            return new PreviewPostModel(post);
                        });
                        self.posts(mapping);
                        self.isListVisible(true);
                        self.choosenPost(null);
                    });
                });
                this.get(blogpath + '#/all', function () {
                    this.app.runRoute('get', 'blog')
                });
                this.get(blogpath + '#/:postId', function () {
                    $.getJSON("/post/" + this.params.postId, function (data) {
                        self.choosenPost(new PostModel(data));
                        self.isListVisible(false);
                    });
                });
            }).run();

            self.onPostRemoved = function (post) {
                self.posts.remove(post);
            }
        };
    </script>
}

<div class="col-lg-8">
    <div data-bind="foreach: posts, visible: isListVisible">
        <h1 class="titleCursor" data-bind="text: title, click: $root.goToPost">
        </h1>
        <p class="lead">
            by <a data-bind="text: author" href="@ResolveUrl("/about")">Author</a>
        </p>
        <hr>
        <p>
            <span class="glyphicon glyphicon-time"></span>&nbsp;Posted on&nbsp;<span data-bind="text: postedAt.toLocaleString()">
            </span>
        </p>
        <hr>
        <img src="http://placehold.it/900x300" class="img-responsive" alt="Post Logo">
        <hr>
        <p class="lead" data-bind="text: preBody">
        </p>
    </div>
    <div data-bind="with: choosenPost">
        @Html.Partial("Views/Partials/post")
    </div>
</div>
<div class="col-lg-4">
    @Html.Partial("Views/Partials/Side/search")
    <!-- /well -->
    @Html.Partial("Views/Partials/Side/category")
    <!-- /well -->
    @Html.Partial("Views/Partials/Side/popular")
    <!-- /well -->
</div>
