@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Cassette.Nancy
@{
    Bundles.Reference("Content/css");

    Bundles.Reference("Scripts/bootstrap");
    Bundles.Reference("Scripts/jquery");
    Bundles.Reference("Scripts/knockout");
    Bundles.Reference("Scripts/viewModel");
    Bundles.Reference("Scripts/sammy");
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.title</title>
    @RenderSection("Header", required: false)
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts()
</head>
<body>
    @RenderSection("Scripts", required: false)
    <a href="~/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Go to main site</a>
    <div>
        @RenderBody()
        <hr />
    </div>
</body>
</html>
