@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Cassette.Nancy
@{
    Bundles.Reference("Content");

    Bundles.Reference("Scripts/bootstrap");
    Bundles.Reference("Scripts/jquery");
    Bundles.Reference("Scripts/knockout");
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.title</title>
    @RenderSection("Header", required: false)
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts()
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#index">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#services">Services</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
        <div class="row">
            @RenderBody()
            <div class="col-lg-4">
                <div class="well">
                    <h4>
                        Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /well -->
                <div class="well">
                    <h4>
                        Popular Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#dinosaurs">Dinosaurs</a> </li>
                                <li><a href="#spaceships">Spaceships</a> </li>
                                <li><a href="#fried-foods">Fried Foods</a> </li>
                                <li><a href="#wild-animals">Wild Animals</a> </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#alien-abductions">Alien Abductions</a> </li>
                                <li><a href="#business-casual">Business Casual</a> </li>
                                <li><a href="#robots">Robots</a> </li>
                                <li><a href="#fireworks">Fireworks</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /well -->
                <div class="well">
                    <h4>
                        Side Widget Well</h4>
                    <p>
                        Bootstrap's default wells work great for side widgets! What is a widget anyways...?</p>
                </div>
                <!-- /well -->
            </div>
        </div>
        <hr />
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright &copy; Company 2014</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
</body>
</html>
