@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Cassette.Nancy
@{
    Bundles.Reference("Content");

    Bundles.Reference("Scripts/bootstrap");
    Bundles.Reference("Scripts/jquery");
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.title</title>
    @RenderSection("Header", required: false)
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts()
</head>
<body>
    @RenderSection("Scripts", required: false)
    @Html.Partial("Views/Partials/navbar.cshtml")
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
        <hr />
        @Html.Partial("Views/Partials/footer.cshtml")
    </div>
    <!-- /.container -->
</body>
</html>
